In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('data/xirr.xlsx', sheet_name="regular")
df

        date  income  expenses
0 2017-01-01       0     -3000
1 2018-01-01    1000         0
2 2019-01-01    1000         0
3 2020-01-01    1000         0
4 2021-01-01    1000         0

In [4]:
df['total'] = df.income + df.expenses
df

        date  income  expenses  total
0 2017-01-01       0     -3000  -3000
1 2018-01-01    1000         0   1000
2 2019-01-01    1000         0   1000
3 2020-01-01    1000         0   1000
4 2021-01-01    1000         0   1000

In [6]:
def xnpv(rate, values, dates):
    '''Replicates the Excel XNPV function'''
    min_date = min(dates)
    return sum([
        value / (1 + rate)**((date - min_date).days / 365)
        for value, date
        in zip (values, dates)
    ])

In [7]:
from scipy.optimize import newton

def xirr(values, dates):
    '''Replicates the Excel XIRR function'''
    return newton(lambda r: xnpv(r, values, dates), 0)

In [13]:
df2 = pd.read_excel('data/xirr.xlsx', 'irregular')
df2['total'] = df2.income + df2.expenses
df2

         date  income  expenses  total
0  2017-01-01      40     -3000  -2960
1  2017-01-25      40       -50    -10
2  2017-02-12      80       -50     30
3  2017-02-14     100       -30     70
4  2017-03-04     100       -20     80
5  2017-04-23     160       -30    130
6  2017-05-07     140       -20    120
7  2017-05-21     140       -40    100
8  2017-06-04      80       -40     40
9  2017-06-19     180       -30    150
10 2017-07-16     360       -40    320
11 2017-08-27     160       -30    130
12 2017-09-24     240       -20    220
13 2017-10-21     420       -50    370
14 2017-11-19     400       -20    380
15 2017-12-03     340       -40    300
16 2017-12-17     360       -40    320
17 2017-12-31     540       -40    500

In [15]:
xirr(df2.total, df2.date)

0.13812581670383556