### API KEY
read api key from config.ini file

FX rates from openexchangerates.org

In [7]:
import configparser
import requests

config = configparser.ConfigParser()
config.sections()
config.read('config.ini')

['config.ini']

In [8]:
API_KEY = config['KEYS']['OPX_KEY']

### Currency Converter class
Define currency converter class with convert method
* Initialize class to read rates from openexchangerates.org for provided symbols and store in rates variable
* convert method converts a value in from symbol to amount in to symbol

In [9]:
class CurrencyConverter:
    
    def __init__(self, symbols, API_KEY):
        
        self.API_KEY = API_KEY
        self.symbols = symbols
        self._symbols = ','.join([str(s) for s in symbols])
        
        r = requests.get(
            'https://openexchangerates.org/api/latest.json',
            params = {
                'app_id' : self.API_KEY,
                'symbols' : self._symbols,
                'show_alternative' : 'true'
                }
            )
        self.rates = r.json()['rates']
        self.rates['USD'] = 1
    
    def convert(self, value, symbol_from, symbol_to, round_output = True):

            try:
                x = (value
                    * 1/self.rates.get(symbol_from)
                    * self.rates.get(symbol_to))
                if round_output:
                    return round(x, 2)
                else:
                    return x
            except TypeError:
                print('Unavailable or invalid symbol')
                return None

### Testing converter class

In [10]:
c = CurrencyConverter(['CAD', 'USD'], API_KEY)

print(c.convert(3000, 'CAD', 'USD'))
print(c.convert(5000, 'USD', 'CAD'))

2243.13
6687.09

In [11]:
c = CurrencyConverter(['CAD', 'USD', 'DOGE', 'ETH', 'BTC'],
                     API_KEY)
c.rates

{'BTC': 0.000259320684,
 'CAD': 1.337417,
 'DOGE': 447.696725862,
 'ETH': 0.0064121061,
 'USD': 1}

In [12]:
c.convert(3000, 'CAD', 'DOGE')

1004241.89

### Apply to chapter 2 exercise

In [13]:
import pandas as pd

df = pd.read_excel('data/xirr.xlsx', 'irregular')
df['total'] = df.income + df.expenses
df

         date  income  expenses  total
0  2017-01-01      40     -3000  -2960
1  2017-01-25      40       -50    -10
2  2017-02-12      80       -50     30
3  2017-02-14     100       -30     70
4  2017-03-04     100       -20     80
5  2017-04-23     160       -30    130
6  2017-05-07     140       -20    120
7  2017-05-21     140       -40    100
8  2017-06-04      80       -40     40
9  2017-06-19     180       -30    150
10 2017-07-16     360       -40    320
11 2017-08-27     160       -30    130
12 2017-09-24     240       -20    220
13 2017-10-21     420       -50    370
14 2017-11-19     400       -20    380
15 2017-12-03     340       -40    300
16 2017-12-17     360       -40    320
17 2017-12-31     540       -40    500

In [14]:
# convert totals to USD using lambda function
df['total'].apply(lambda x: c.convert(x, 'CAD', 'USD'))

0    -2213.22
1       -7.48
2       22.43
3       52.34
4       59.82
5       97.20
6       89.73
7       74.77
8       29.91
9      112.16
10     239.27
11      97.20
12     164.50
13     276.65
14     284.13
15     224.31
16     239.27
17     373.85
Name: total, dtype: float64