## Chapter 4: Amortization

P = Payment per period
r = Rate per period
n = Number of periods
PV = Number of periods

Calculate amortization P = r(PV) / (1 - (1 + r)^-n)

In [2]:
loan = 3000.00
rate = 0.0575
term = 14

In [3]:
payment = loan * (rate / 12) / (1 - (1 + (rate / 12)) ** (-term))
print(round(payment, 2))

222.07

Use built in numpy functions

In [4]:
import numpy as np
payment = np.round(-np.pmt(rate/12, term, loan), 2)
print(payment)

222.07

Build amortization schedule on dataframe

In [5]:
import pandas as pd

balance = loan
df = pd.DataFrame({
        'month': [0],
        'payment': [np.NaN],
        'interest': [np.NaN],
        'balance': [balance]
    })
print(df)

   balance  interest  month  payment
0   3000.0       NaN      0      NaN

In [6]:
interest = round(rate/12 * balance, 2)
principal = payment - interest
balance = balance - principal

In [7]:
print(interest)
print(principal)
print(balance)

14.38
207.69
2792.31

In [8]:
balance = loan

for i in range(1, term + 1):
    interest = round(rate/12 * balance, 2)
    principal = payment - interest
    balance = balance - principal
    
    df = df.append(
        pd.DataFrame({
            'month': [i],
            'payment': [payment],
            'interest': [interest],
            'principal': [principal],
            'balance': [balance]
        })
    )

df = df.reset_index(drop=True)
df[['month', 'payment', 'interest', 'principal', 'balance']]

    month  payment  interest  principal  balance
0       0      NaN       NaN        NaN  3000.00
1       1   222.07     14.38     207.69  2792.31
2       2   222.07     13.38     208.69  2583.62
3       3   222.07     12.38     209.69  2373.93
4       4   222.07     11.38     210.69  2163.24
5       5   222.07     10.37     211.70  1951.54
6       6   222.07      9.35     212.72  1738.82
7       7   222.07      8.33     213.74  1525.08
8       8   222.07      7.31     214.76  1310.32
9       9   222.07      6.28     215.79  1094.53
10     10   222.07      5.24     216.83   877.70
11     11   222.07      4.21     217.86   659.84
12     12   222.07      3.16     218.91   440.93
13     13   222.07      2.11     219.96   220.97
14     14   222.07      1.06     221.01    -0.04

This code will be faster if the df already has enough space allocated

In [9]:
balance = loan
index = range(0, term + 1)
columns = ['month', 'payment', 'interest', 'principal', 'balance']
df = pd.DataFrame(index=index, columns=columns)

df.iloc[0]['month'] = 0
df.iloc[0]['balance'] = balance

for i in range(1, 11):
    interest = round(rate/12 * balance, 2)
    principal = payment - interest
    balance = balance - principal
    
    df.iloc[i]['month'] = i
    df.iloc[i]['payment'] = payment
    df.iloc[i]['interest'] = interest
    df.iloc[i]['principal'] = principal
    df.iloc[i]['balance'] = balance

df

   month payment interest principal  balance
0      0     NaN      NaN       NaN     3000
1      1  222.07    14.38    207.69  2792.31
2      2  222.07    13.38    208.69  2583.62
3      3  222.07    12.38    209.69  2373.93
4      4  222.07    11.38    210.69  2163.24
5      5  222.07    10.37     211.7  1951.54
6      6  222.07     9.35    212.72  1738.82
7      7  222.07     8.33    213.74  1525.08
8      8  222.07     7.31    214.76  1310.32
9      9  222.07     6.28    215.79  1094.53
10    10  222.07     5.24    216.83    877.7
11   NaN     NaN      NaN       NaN      NaN
12   NaN     NaN      NaN       NaN      NaN
13   NaN     NaN      NaN       NaN      NaN
14   NaN     NaN      NaN       NaN      NaN

Creating a function

In [12]:
def am(loan, rate, term):
    
    payment = np.round(-np.pmt(rate/12, term, loan), 2)
    balance = loan
    
    index = range(0, term + 1)
    columns = ['month', 'payment', 'interest', 'principal', 'balance']
    df = pd.DataFrame(index=index, columns=columns)
    
    df.iloc[0]['month'] = 0
    df.iloc[0]['balance'] = balance
    
    for i in range(1, term + 1):
        interest = round(rate/12 * balance, 2)
        principal = payment - interest
        balance = balance - principal
        
        df.iloc[i]['month'] = i
        df.iloc[i]['payment'] = payment
        df.iloc[i]['interest'] = interest
        df.iloc[i]['principal'] = principal
        df.iloc[i]['balance'] = balance
        
    return df

In [13]:
loan = 3000
pineapple = am(loan, 0.0575, 14)
orange = am(loan, 0.0399, 20)
banana = am(loan, 0.0889, 8)

In [14]:
pineapple

   month payment interest principal  balance
0      0     NaN      NaN       NaN     3000
1      1  222.07    14.38    207.69  2792.31
2      2  222.07    13.38    208.69  2583.62
3      3  222.07    12.38    209.69  2373.93
4      4  222.07    11.38    210.69  2163.24
5      5  222.07    10.37     211.7  1951.54
6      6  222.07     9.35    212.72  1738.82
7      7  222.07     8.33    213.74  1525.08
8      8  222.07     7.31    214.76  1310.32
9      9  222.07     6.28    215.79  1094.53
10    10  222.07     5.24    216.83    877.7
11    11  222.07     4.21    217.86   659.84
12    12  222.07     3.16    218.91   440.93
13    13  222.07     2.11    219.96   220.97
14    14  222.07     1.06    221.01    -0.04

In [15]:
banana['interest'].sum()

100.88

In [16]:
print(banana['interest'].sum())
print(orange['interest'].sum())
print(pineapple['interest'].sum())

100.88
105.83
108.94

In [29]:
def am1(loan, rate, term):
    balance = loan
    df = pd.DataFrame({
        'month': [0],
        'payment': [np.NaN],
        'interest': [np.NaN],
        'balance': [balance]
    })
    
    for i in range(1, term + 1):
        interest = round(rate/12 * balance, 2)
        principal = payment - interest
        balance = balance - principal

        df = df.append(
            pd.DataFrame({
                'month': [i],
                'payment': [payment],
                'interest': [interest],
                'principal': [principal],
                'balance': [balance]
            })
        )
    
    return df

Comparing time of pre-allocating vs. not pre-allocating space on the data frame:

function am sets the index to range 0 to term+1 and then uses iloc to enter amortization schedules into the correct rows, function am1 does not

In [17]:
%%timeit

am(3000, 0.0575, 14)

100 loops, best of 3: 6.11 ms per loop

In [32]:
%%timeit

am1(3000, 0.0575, 14)

10 loops, best of 3: 19.3 ms per loop